**/*.tar
**/*.gz
**/*.zip
**/*.tar.gz
**/*.pt

datasets/
results/
reports/
logs/
.download_cache/
nohup.out

.venv/
venv/
env/
.env/
.ruff_cache/
.uv_cache/
.mypy_cache/
.cache/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/


.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

.markdownlint.json
.markdownlintignore
Makefile.local
config.mk